<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />

    <!-- for BeerCSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/beercss@3.9.7/dist/cdn/beer.min.css"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/beercss@3.9.7/dist/cdn/beer.min.js"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"
    ></script>

    <!-- Import Vue 3 -->
    <script src="//cdn.jsdelivr.net/npm/vue@3"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script> -->

    <!-- my CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- favicon setting -->
    <link rel="shortcut icon" href="favicon.ico" />

    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="180x180"
      href="apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="android-touch-icon.png"
    />

    <link rel="manifest" href="manifest.json" />

    <title>MEIGEN</title>
  </head>

  <body class="light">
    <!-- このタグ内にVueの効果が及ぶ -->
    <div id="app" class="surface-variant">
      <!-- アプリタイトルバー -->
      <header class="primary fixed pl-0 m l">
        <h5 class="left-align">{{appTitle}}</h5>
      </header>
      <header class="primary fixed s">
        <nav>
          <img class="circle" :src="appIconPath" />
          <h5 class="left-align">{{appTitle}}</h5>
        </nav>
      </header>
      <!-- 大・中画面時のナビゲーションバー(左) -->
      <nav class="left m l primary">
        <header>
          <img class="circle" :src="appIconPath" />
        </header>
        <a data-ui="#home">
          <i>home</i>
          <div>探索</div>
        </a>
        <a data-ui="#dictionary">
          <i>dictionary</i>
          <div>辞書</div>
        </a>
        <a data-ui="#setting">
          <i>settings</i>
          <div>設定</div>
        </a>
        <a data-ui="#help">
          <i>help</i>
          <div>ヘルプ</div>
        </a>
      </nav>
      <!-- 小画面時のナビゲーションバー(底) -->
      <nav class="bottom s">
        <a class="max" data-ui="#home">
          <i>home</i>
          <div>探索</div>
        </a>
        <a data-ui="#dictionary">
          <i>dictionary</i>
          <div>辞書</div>
        </a>
        <a class="max" data-ui="#setting">
          <i>settings</i>
          <div>設定</div>
        </a>
        <a class="max" data-ui="#help">
          <i>help</i>
          <div>ヘルプ</div>
        </a>
        <a data-ui="#nab-more">
          <i>more_vert</i>
        </a>
        <!-- nav.bottom.sのmoreを押すと表示されるダイアログ -->
        <dialog id="nab-more" class="bottom">
          <nav class="bottom right-align">
            <a data-ui="#nab-more" class="max">
              <i>block</i>
              <div>Dummy</div>
            </a>
            <a data-ui="#nab-more" class="max">
              <i>block</i>
              <div>Dummy</div>
            </a>
            <a data-ui="#nab-more" class="max">
              <i>block</i>
              <div>Dummy</div>
            </a>
            <a data-ui="#nab-more">
              <i>close</i>
            </a>
          </nav>
        </dialog>
      </nav>

      <dialog id="load-failed-dialog" class="error-container">
        <nav class="right-align mt-0">
          <button
            class="transparent small circle"
            data-ui="#load-failed-dialog"
          >
            <i>close</i>
          </button>
        </nav>
        <span
          >データ取得に失敗しました。少し待ってから再実行してください。</span
        >
      </dialog>

      <!-- メインコンテンツ -->
      <main class="responsive">
        <!-- 画面 -->
        <div id="home" class="page left">
          <article class="">
            <h6>探索</h6>
            <hr class="small" />
            <p class="mb-2">
              ランダムに名言を取得し、お気に入りのものは辞書へ記録できます。
            </p>
            <div v-if="isDataLoading" class="center-align">
              <progress class="circle large"></progress>
            </div>
            <div v-else v-cloak>
              <article v-for="item in dataList" class="surface-container-high">
                <blockquote>
                  <h5 class="small">{{item.meigen}}</h5>
                </blockquote>
                <p class="right-align"><i>person_edit</i> {{item.auther}}</p>
                <!-- <div class="space"></div> -->
                <nav class="right-align mt-0">
                  <button class="circle">
                    <i>favorite</i>
                  </button>
                </nav>
              </article>
            </div>
            <nav class="center-align">
              <button
                @click="fetchMeigen()"
                :disabled="isDataLoading"
                class="secondary"
              >
                <i>refresh</i>
                <span>再探索</span>
              </button>
            </nav>
          </article>
        </div>
        <!-- 画面 -->
        <div id="setting" class="page left">
          <article class="">
            <h6>設定</h6>
            <hr class="small" />
            <p>アプリの設定項目が変更できるページ（工事中）</p>
          </article>
        </div>
        <!-- 画面 -->
        <div id="dictionary" class="page left">
          <article class="">
            <h6>辞書</h6>
            <hr class="small" />
            <p class="mb-2">
              お気に入りの名言を見返すことができます。（工事中）
            </p>
            <div>
              <div class="tabs">
                <a class="vertical active" data-ui="#work_tab">
                  <i>trending_up</i>
                  <span>自己啓発</span>
                </a>
                <a class="vertical" data-ui="#relation_tab">
                  <i>group</i>
                  <span>対人関係</span>
                </a>
                <a class="vertical" data-ui="#life_tab">
                  <i>school</i>
                  <span>人生教訓</span>
                </a>
                <a class="vertical" data-ui="#others_tab">
                  <i>sms</i>
                  <span>その他</span>
                </a>
              </div>
              <div id="work_tab" class="page mt-2 active">
                <article
                  v-for="item in dictTab1Data"
                  class="secondary-container"
                >
                  <blockquote>
                    <h5 class="small">{{item.meigen}}</h5>
                  </blockquote>
                  <p class="right-align mt-0">
                    <i>person_edit</i> {{item.auther}}
                  </p>
                  <nav class="right-align mt-0">
                    <button class="transparent circle small">
                      <i>delete</i>
                    </button>
                  </nav>
                </article>
              </div>
              <div id="relation_tab" class="page mt-2">
                <h5>Tab 2</h5>
              </div>
              <div id="life_tab" class="page mt-2">
                <h5>Tab 3</h5>
              </div>
              <div id="others_tab" class="page mt-2">
                <h5>Tab 4</h5>
              </div>
            </div>
          </article>
        </div>
        <!-- 画面 -->
        <div id="help" class="page left">
          <article class="">
            <h6>ヘルプ</h6>
            <hr class="small" />
            <p>使い方が書いてあるページ（工事中）</p>
          </article>
        </div>
      </main>
    </div>
    <!-- for axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Load my JS -->
    <script src="js/main.js"></script>
  </body>
</html>
